@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../assets/fonts/noto-sans-kr-latin-300.woff2") format("woff2");
  unicode-range: U+0000-024F;
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../assets/fonts/noto-sans-kr-korean-300.woff2") format("woff2");
  unicode-range: U+1100-11FF, U+3130-318F, U+AC00-D7A3;
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/noto-sans-kr-latin-400.woff2") format("woff2");
  unicode-range: U+0000-024F;
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/noto-sans-kr-korean-400.woff2") format("woff2");
  unicode-range: U+1100-11FF, U+3130-318F, U+AC00-D7A3;
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/noto-sans-kr-latin-700.woff2") format("woff2");
  unicode-range: U+0000-024F;
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/noto-sans-kr-korean-700.woff2") format("woff2");
  unicode-range: U+1100-11FF, U+3130-318F, U+AC00-D7A3;
}
